@font-face {
  font-family: "Roboto Condensed";
  src: url("./assets/fonts/RobotoCondensed-VariableFont_wght.ttf");
}

body {
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
}

#particles canvas {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

@media screen and (max-width: 768px) {
  #particles {
    display: none;
  }
}
